In [0]:
use movie_gold;

In [0]:
select * from movie_gold.results_movie;

In [0]:
select country_name, 
  count(country_name) as total_movie,
  sum(budget) as total_budget,
  sum(revenue) as total_revenue
from results_movie
group by country_name
order by total_revenue DESC;

In [0]:
select country_name, 
  count(country_name) as total_movie,
  sum(budget) as total_budget,
  CAST(AVG(budget) AS DECIMAL(18,2)) AS avg_budget,
  sum(revenue) as total_revenue,
  cast(avg(revenue) as decimal(18,2)) as avg_revenue
from results_movie
where year_release_date = 2015
group by country_name
order by total_revenue DESC;